@Model DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1 class="display-4">Details</h1>
</div>

<div class="text-left">
    <p>Name: @Model.Name</p>
    <p>ID: @Model.Id</p>
</div>
